<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel = "stylesheet" href="/style.css">
    <script src="/script.js"></script>
</head>
<body>

    <ul>
    <img id = "header" src="/Images/header-flower.png">
        <li><a href="/flowers">Entries</a></li>
        <li><a href="#news">Outside Info</a></li>
        <li><a href="/flowers/new">Add a Flower</a></li>
        <div class="search-container">
            <input type = "text" id = "searchbar" placeholder = "Search by location!">
            <button id = "button" type="submit">
                <img src="/Images/magnifying-glass.png" alt="search button" />
            </button>
        </div>
    </ul>

