<%- include('./partials/navbar') %>
    <div class = "form-wrapper">
        <div class="card card-form">
        <form id="form-container">
            <h1>Add a flower:</h1>
            <input id="name" type="text" placeholder="Name" name="name">
            <input id="location" type="text" placeholder="Location" name="location">

            <div class="desc-area">
            <textarea id="description" placeholder="Description" name="description"></textarea>
            <img id = "flower-img" src="/Images/green-flower.png" alt="green flower">
            </div>

            <button id="save-flower" type="submit">Save</button>
            <button id="cancel-btn" type="button">Cancel</button>

        </form> 
        </div>
    </div>




</body>
</html>